<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HT PROMPT GURU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script>
        function enableSubmitButton() {
            document.getElementById('submitButton').disabled = false;
            scrollToBottom();
        }

        function disableSubmitButton() {
            document.getElementById('submitButton').disabled = true;
        }

        function scrollToBottom() {
            const messageList = document.querySelector('.message-list');
            messageList.scrollTop = messageList.scrollHeight;
        }

        window.onload = function() {
            scrollToBottom();
        }
    </script>
</head>
<body>
    <div class="app-header">
        <h1 style="color: white;">HT PROMPT GURU</h1> <!-- Promijenjena boja naslova -->
    </div>

    <div class="chat-container">
        <ul class="message-list">
            {% for message in messages %}
                {% if message.role == 'user' %}
                    <li class="message user-message">{{ message.content }}</li>
                {% else %}
                    <li class="message assistant-message">{{ message.content | safe }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        <form method="POST" onsubmit="disableSubmitButton();">
            <input type="text" name="prompt" placeholder="Upišite vaš prompt..." required>
            <button type="submit" id="submitButton">Pošalji</button>
        </form>
    </div>
</body>
</html>
